body{
  background-color: ;
  text-align: ;
  font-family: ;
}


h1{
  color: ;
  text-align: center;
  font-family: Ostrich Sans;
  font-size: 90px;
}

div{
  margin:50px;
  border:1px solid black ;
  padding:30px;
  width: 300px;
  height: 500px;
}

p{
  text-align: center;
  font-family: Ostrich Sans;
  font-size: 50px;
}

h2{
  color: ;
  text-align: center;
  font-family: Ostrich Sans;
  font-size: 30px;
}
