body{
  align-items: baseline;
  background-color: ;
  text-align: ;
  font-family: ;
}


h1{
  text-align: center;
  font-family: Ostrich Sans;
  font-size: 90px;
}

.center{
  margin-left:550px;
  border:1px solid black;
  border-radius:20px;
  border-width:7px ;
  padding:25px;
  width: 300px;
  height: 500px;
}

#nextQuestionButton{
  border-radius: 20px;
  font-style: Ostrich San;
  font-size: 18px;

}

#answerButton{
  border-radius: 20px;
  font-style: Ostrich San;
  font-size: 18px;

}
